.container{
    width: 200px;
    height: 100px;
    padding: 10px 8px 10px 8px;
    border: solid;
    border-width: 10px 8px;
    border-color: red green blue yellow;
    margin: 10px 8px;
}
h1{
    background-color: black;
}
.color{
    color: white;
}

#bord{
    border: 1px solid red;
}
.box{
    border: 10px solid green;
    padding: 50px;
    margin: 50px;
}